html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #03010a;
}

/* Forzar que el puntero e interfaces de A-Frame respondan al instante sin bloqueos en el visor */
.a-canvas {
  z-index: 1 !important;
  pointer-events: auto !important;
}
