html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #05030f;
}

/* Permitir clics instantáneos del raycaster de A-Frame sin capas fantasma */
.a-canvas {
  z-index: 1 !important;
  pointer-events: auto !important;
}
